{% extends "base2.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Card game</h1>

<p>Här berättar jag lite om upplägget för kortspelet.</p>
<p>Jag tänker att jag gör kort som kan existera utan en kortlek men i en kortlek blir de begränsade till max 1 av varje och max 52st.</p>
<p>Lite hur jag tänkt kring deck, shuffle, draw, draw:number kommer nedan.</p>
<p>Deck visar samtliga kort i leken, sorterade per färg och värde.</p>
<p>Shuffle visar samtliga kort i kortleken när den har blandats.</p>
<p>Draw, drar ett kort från kortleken och visar upp vilket kort det är. När kortet är draget visas även antalet kort som är kvar i leken.</p>

<ul class="cardLinks">
<a href="{{ path('deck') }}" class="button">Deck: Visa alla korten i kortleken</a>
<a href="{{ path('shuffle') }}" class="button">Shuffle: Visa alla korten blandade</a>
<a href="{{ path('draw') }}" class="button">Draw: Dra kort ur kortleken</a>
<a href="{{ path('test_deck') }}" class="button">Testmiljö</a>
<a href="{{ path('api') }}" class="button">Api</a>
</ul>

{% endblock %}