{% extends "base2.html.twig" %}

{% block title %}CardGame{% endblock %}

{% block main %}
    <h1>Session</h1>

    {{ include('flash.html.twig') }}

    <p>Name of session: '{{ sessionName }}'</p>

    <p>Id of this session: '{{ sessionId }}'</p>

    <p>Details of the session cookie:</p>
    <pre>{{ sessionCookie|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

    <p>Content of the $_SESSION variable:</p>
    <pre>{{ sessionData|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

    <a href="{{ path('session_delete') }}">Delete Session</a>
{% endblock %}
