{% extends "base2.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block main %}
    <div class="grid-container">
        <div class="left-column">
            <h1 id="documentation">Documentation</h1>
            <p>BlackJack Documentation.</p>

            <a href="{{ asset('img/blackjack_flowchart.png') }}" class="image-link">
                <img src="{{ asset('img/blackjack_flowchart.png') }}" alt="">
                </a>

            <h1 id="psuedokod">Psuedokod</h1>
            <p>// Initialize deck
                deck = create_deck()
            </p>
            <p>
                // Shuffle deck
                shuffle(deck)
            </p>
            <p>
                // Initialize player and dealer hands
                player_hand = []
                dealer_hand = []
            </p>
            <p> 
                // Deal initial cards
                deal_cards(player_hand, dealer_hand, deck)
            </p>
            <p> 
                // Player's turn
                IF playerHandSum is LESS than 21:
                hitMe() or stay()
                </p>
                <p>
                    // Check if player busted
                    IF player_hand->getHandSum > 21:
                        // Player busts, end the game
                        display_message("Player busts, dealer wins!")
                        player = loser
                        break
                    </p>
                    <p> 
                // Dealer's turn
                WHILE dealer_hand->getHandSum < 21:
                    // Dealer hits
                    dealer_hand->drawCardFromDeck();</21:>
                    IF 
                </p>
                <p>
                // Determine winner
                winner = determine_winner(player_hand, dealer_hand)
            </p>
            <p>
                // Display winner
                display_winner(winner)
            </p>
            <p> 
                // End game
                end_game()
                </p>
            <h1 id="klasser">Klasser tänkta att implementeras:</h1>
                <p>
                - Card, Deck, CardGraphic, som lånar jag från tidigare kursmoment.
                </p>
                <p>
                - Jag skapar en Blackjack-klass som får ha ordning på logiken på spelet.
                </p>
                <p>
                Blackjack kommer ha vissa funktioner som att lagra nuvarande kort hos spelarna och se om det är blackjack. 
                
                </p>
        </div>
        <div class="right-column">
            <a href="{{ path('documentation') }}#documentation">Documentation</a>
            <a href="{{ path('documentation') }}#psuedokod">Psuedokod</a>
            <a href="{{ path('documentation') }}#klasser">Klasser för spelet</a>
        </div>
    </div>
{% endblock %}
