{% extends "base2.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block main %}
<h1>Blackjack</h1>

<p>
    Nu kör vi!
</p>

<li><span>Cards left in deck: {{ cardsLeft }}</span></li>
<li><span>Sum of cards in hand: {{ sumCards }}</span></li>

<ul class="cardarea">
    {% for card in playerHand %}
    <li><span class="card">{{ card.getAsString() }}</span></li>
    {% endfor %}
</ul>

<form method="post" action="{{ path('hit_me') }}">
    <button type="submit" class="button">Hit me!</button>
    <button type="submit" class="button">I'll stay</button>
</form>

<form method="post" action="{{ path('shuffle') }}">
    <button type="submit" class="button">Shuffle deck</button>
</form>


{% endblock %}
