{% extends "base2.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block main %}
<h1>Blackjack</h1>

{{ include('flash.html.twig') }}

<div class="card-container">
    <ul class="cardarea">
        {% for card in game.getPlayerHand.getHand() %}
        <li><span class="card">{{ card.getAsString() }}</span></li>
        {% endfor %}
    </ul>
    <p><span>You've got: {{ game.getPlayerHand.getHandSum() }}</span></p>
</div>

<ul class="cardLinks">
    {% if not game.busted() %}
    <a href="{{ path('hit_me') }}" class="button">Hit me!</a>
    <form method="post" action="{{ path('stay') }}">
        <input type="hidden" name="handSum" value="{{ game.getPlayerHand.getHandSum() }}">
        <button type="submit" class="button">Stay ... </button>
    </form>
    {% endif %}

    {% if game.busted() %}
    <h2>Busted!</h2>
    <p>You got {{ game.getPlayerHand.getHandSum() }}</p>
    <a href="{{ path('restart') }}" class="button">Restart</a>
    {% endif %}
</ul>
{% endblock %}
