{% extends "base2.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block main %}
<h1>Blackjack</h1>

{{ include('flash.html.twig') }}

<div class="card-container">
    <h2>
        Player score is: {{ game.getPlayerHand.getHandSum() }}
    </h2>
</div>

<div class="card-container">
    <ul class="card_slow">
        {% for card in game.getDealerHand.getHand() %}
        <li><span class="card">{{ card.getAsString() }}</span></li>
        {% endfor %}
    </ul>
    <li id="result" class="result"> <span class="card"></span></li>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var cards = document.querySelectorAll('.card_slow li');
    var cardContainer = document.querySelector('.card-container');
    var resultElement = document.getElementById('result');

    cards.forEach(function(card, index) {
        setTimeout(function() {
            card.classList.add('show');
            // Display sum after all cards have been shown
            if (index === cards.length - 1) {
                setTimeout(function() {
                    var sumElement = document.createElement('span');
                    sumElement.innerHTML = `
                    House gets: {{ game.getDealerHand.getHandSum() }}
                    <br>
                    {{ game.getWinner() }}
                    `;
                    resultElement.appendChild(sumElement);
                    resultElement.style.display = 'block';
                }, 2000);
            }
        }, index * 1000);
    });
});
</script>


<form method="post" action="{{ path('restart') }}">
    <button type="submit" class="button">Restart game</button>
</form>

{% endblock %}
