<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('project') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('project') }}
            {% block importmap %}{{ importmap('project') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    
    <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
        <span class="site-title">My Project Site</span>
    </header>

        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="navbar-item"><a href="{{ path('project') }}">Project</a></li>
                <li class="navbar-item"><a href="{{ path('project_about') }}">About</a></li>
            </ul>
        </nav>

        <main>
        {% block main %}{% endblock %}
        </main>

    <footer>
        <p>Repo on GitHub:</p>
        <ul>
            <li><a href="https://github.com/racoontwo/mvc-vt24">GitHub Repository 1</a></li>
            <li><a href="https://github.com/dbwebb-se/mvc.git">GitHub Repository 2</a></li>
        </ul>
    </footer>


    </body>
</html>
