<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    
    <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
        <span class="site-title">My Symfony Site</span>
    </header>

        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a href="{{ path('main') }}">Om mig</a></li>
                <li class="navbar-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="navbar-item"><a href="{{ path('report') }}">Report</a></li>
                <li class="navbar-item"><a href="{{ path('about') }}">About</a></li>
                <li class="navbar-item"><a href="{{ path('lucky_number') }}">Lucky number</a></li>
                <li class="navbar-item"><a href="{{ path('quote') }}">Json Quote</a></li>
                <li class="navbar-item"><a href="{{ path('api') }}">API</a></li>
                <li class="navbar-item"><a href="{{ path('card_start') }}">CardGame</a></li>
                <li class="navbar-item"><a href="{{ path('black_jack') }}">Black Jack</a></li>
                <li class="navbar-item"><a href="{{ path('app_library') }}">Library</a></li>
                <li class="navbar-item"><a href="{{ path('session_display') }}">Session</a></li>
            </ul>
        </nav>

        {% block body %}{% endblock %}

    <footer>
        <p>Repo on GitHub:</p>
        <ul>
            <li><a href="https://github.com/racoontwo/mvc-vt24">GitHub Repository 1</a></li>
            <li><a href="https://github.com/dbwebb-se/mvc.git">GitHub Repository 2</a></li>
        </ul>
    </footer>


    </body>
</html>
