{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ route_name }}</h1>
    <ul class="cardLinks">
        <a href="{{ path('library_show_all') }}" class="button">View as JSON</a>
        <a href="{{ path('library_view_all') }}" class="button">All books in library</a>
        <a href="{{ path('library_add_form') }}" class="button">Add a book </a>
        <a href="{{ path('api') }}" class="button">[API]</a>
    </ul>
</div>


{% endblock %}
