{% extends 'base.html.twig' %}

{% block title %}Add a book to the library{% endblock %}

{% block body %}

{{ include('flash.html.twig') }}

{# <p>{{ book.id }}</p> #}

<form class="book-list" action="{{ path('library_update_book') }}" method="post">
    <input type="hidden" id="book_id" name="book_id" value="{{ book.id }}">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required minlength="1" value="{{ book.title }}"><br>
    <label for="isbn">ISBN Number:</label><br>
    <input type="number" id="isbn" name="isbn" required min="1" value="{{ book.isbn }}"><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" required minlength="1" value="{{ book.author }}"><br>
    <label for="image_url">URL to Image:</label><br>
    <input type="text" id="image_url" name="image_url" required minlength="1" value="{{ book.image }}"><br><br>
    <input type="submit" class="button" value="Update book information">
</form>

{% endblock %}
