{% extends 'base.html.twig' %}

{% block title %}All books{% endblock %}

{% block body %}

{# <ul>
        <li>{{ book.getTitle|e }} ({{ book.getId|e }}) {{ book.getISBN|e }} {{ book.getAuthor|e }} </li>
        <a href="{{ path('library_update_form', {'id': book.getId}) }}" class="button">Uppdatera information</a>
        <p>{{ book.getImage|e }} </p>
</ul> #}

<div class="book-info">
        <img src="{{ book.getImage }}" alt="Book Cover">
        <ul class="book-list">
                <li>Title: {{ book.getTitle }}</li>
                <li>ID: {{ book.getId }}</li>
                <li>ISBN: {{ book.getISBN }}</li>
                <li>Author: {{ book.getAuthor }}</li>
        </ul>
        <a href="{{ path('library_update_form', {'id': book.getId}) }}" class="button">Update Information</a>
        <a href="{{ path('library_delete_by_id', {'id': book.getId}) }}" class="red-button">Delete book from database</a>
</div>


{% endblock %}
