{% extends "baseproject.html.twig" %}

{% block title %}Project{% endblock %}

{% block main %}
<h1>15 - Ekosystem och biologisk mångfald</h1>

<a href="{{ asset('img/15_ekosystem.png') }}" class="image-link">
    <img src="{{ asset('img/15_ekosystem.png') }}" alt="">
    </a>

    
<p>
    Nedan presenteras data för hur biologisk mångfald och ekosystem har hanterats i skogsbruket.
    De siffror som presenteras är andel (%) av antal miljöföreteelser som fått stor negativ påverkan i samband med föryngringsavverkning och efterföljande föryngringsarbete, i hela Sverige. (Källa: Skogsstyrelsen)
</p>

<div id="skyddszoner">
</div>

<p>
    Från och med år 1999 går andelen för skyddszoner som fått stor negativ påverkan upp, fram till 2006 då den högsta andelen skyddszoner som fått negativ påverkan uppmättes.
    Efter 2006 tycks procentandelen vara på väg nedåt, och 2015 är siffran densamma som de åren då mätningarna började.
</p>

<div id="kulturmiljoer">
</div>
    
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Year</th>
            <th>Hänsynskravande Biotoper</th>
            <th>Skyddszoner</th>
            <th>Upplevelsevärden</th>
            <th>Transport Över Vattendrag</th>
            <th>Kulturmiljöer</th>
        </tr>
    </thead>
    <tbody>
        {% for data in forestryData %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.year }}</td>
                <td>{{ data.hansynskravandeBiotoper }}</td>
                <td>{{ data.skyddszoner }}</td>
                <td>{{ data.upplevelsevarden }}</td>
                <td>{{ data.transportOverVattendrag }}</td>
                <td>{{ data.kulturmiljoer }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock %}