{% extends "forestry.html.twig" %}

{% block table %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Year</th>
            <th>Hänsynskravande Biotoper</th>
            <th>Skyddszoner</th>
            <th>Upplevelsevärden</th>
            <th>Transport Över Vattendrag</th>
            <th>Kulturmiljöer</th>
        </tr>
    </thead>
    <tbody>
        {% for data in forestryData %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.year }}</td>
                <td>{{ data.hansynskravandeBiotoper }}</td>
                <td>{{ data.skyddszoner }}</td>
                <td>{{ data.upplevelsevarden }}</td>
                <td>{{ data.transportOverVattendrag }}</td>
                <td>{{ data.kulturmiljoer }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}