{% extends "baseproject.html.twig" %}

{% block title %}Project{% endblock %}

{% block main %}
<h1>Projekt</h1>

<p>
    Välkommen till det sista momentet för MVC-kursen. Som projekt har jag valt att hantera, diskutera och visualisera
    indikatorer för hållbar utveckling. Jag har valt hållbarhetsmål nr: 15 - Ekosystem och biologisk mångfald.
    I navbaren ovan finns det länkar till API:er kopplat till den databas där statistiken ligger,
    samt presentationer av två olika indikatorer; Rödlistade arter och Skogsbruk, samt en presentation om målet.
</p>
<p>
    
</p>
<a href="{{ asset('img/15_ekosystem.png') }}" class="image-link">
    <img src="{{ asset('img/15_ekosystem.png') }}" alt="">
    </a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Year</th>
            <th>Hänsynskravande Biotoper</th>
            <th>Skyddszoner</th>
            <th>Upplevelsevärden</th>
            <th>Transport Över Vattendrag</th>
            <th>Kulturmiljöer</th>
        </tr>
    </thead>
    <tbody>
        {% for data in forestryData %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.year }}</td>
                <td>{{ data.hansynskravandeBiotoper }}</td>
                <td>{{ data.skyddszoner }}</td>
                <td>{{ data.upplevelsevarden }}</td>
                <td>{{ data.transportOverVattendrag }}</td>
                <td>{{ data.kulturmiljoer }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}